# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage reports
coverage/

# Editor / IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

